  body {
    background: #228934 url("../images/race.jpg") repeat-x;
    text-align: center;
    font-family: Arial,Helvetica,sans-serif;
  }

  div.textfield {
    font-weight: "bold";
    font-size: 20px;
  }

  h3 {
    color: green;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 35px;
  }

  h4 {
    color: #32cd32;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 25px;
  }

  .buttons {
    text-align: center;
    width: 100px;
    height: 25px;
    font-size: 15px;
  }

  .buttons:hover {
    color: #32cd32;
  }

  #footer {
    float: left;
  }
